.pm25gauge {
    width: 100%;
    max-width: 480px;
    font-family: "Montserrat", serif;
    font-size: 32px;
    color: #004033;
  }

  .pm10gauge {
    width: 100%;
    max-width: 480px;
    font-family: "Montserrat", serif;
    font-size: 32px;
    color: #004033;
  }

  .cogauge {
    width: 100%;
    max-width: 480px;
    font-family: "Montserrat", serif;
    font-size: 32px;
    color: #004033;
  }

  .no2gauge {
    width: 100%;
    max-width: 480px;
    font-family: "Montserrat", serif;
    font-size: 32px;
    color: #004033;
  }

  .o3gauge {
    width: 100%;
    max-width: 480px;
    font-family: "Montserrat", serif;
    font-size: 32px;
    color: #004033;
  }
  
  .gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
  }
  
  .gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
  }
  
  .gauge__cover {
    width: 75%;
    height: 150%;
    /* background: #a5cbd1; */
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
    font-size: calc(0.8rem + 0.97vw);
    font-family:'Montserrat', serif;
    font-weight: bold;
  }

  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}
  